/*  */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);


* {
	margin: 0;
	padding 0;
}

body {
	background: #f7f7f7;
	font-family: 'Open Sans', sans-serif;
	font-size: 95%;
}

code, pre {
	font-family: Courier, monospace;
	background-color: #f7f7f7;
	margin: 10px 0;
	padding: 3px;
}

pre {
	padding: 10px;
}

ol, ul {
	margin: 10px 0;
}

li {
	padding: 5px 0;
}

.centered {
	text-align: center;
}

#container {
	width: 80%;
	margin-left: 10%;
	background: #fff;
	padding: 40px 0 20px;
}

#main {
	min-height: 700px;
	padding: 0 20px 40px;
}

#footer {
	font-size: 0.9em;
	border-top: 1px solid #f7f7f7;
	padding: 15px 20px 10px;
	min-height: 100px;
}

/* Headers */

h1, h2, h3, h4 {
	color: #121212;
	padding: 5px 0 10px;
	text-transform: uppercase;
}

h1 {
	font-size: 2.3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

/* Table */

table {
	width: 80%;
}

th, th td {
	background-color: #333;
	color: #fff;
}
