/*  Fun Coderef Stylesheet */

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

* {
	margin: 0;
	padding 0;
}

body {
	background: #5F0278;
	font-family: sans-serif;
	font-size: 1em;
	color: #000;
}

code, pre {
	font-family: Courier, monospace;
	background-color: #faf3fc;
	margin: 10px 0;
	padding: 3px;
}

pre {
	padding: 10px;
}

ol, ul {
	margin: 10px 0;
}

li {
	padding: 5px 0;
}

.centered {
	text-align: center;
}

.thin {
  width: 60%;
  margin-left: 20%;
}

.hr-align {
  width: 40%;
  margin-left: 30%;
  margin-bottom: 10px;
  color: purple;
}

.resize-readme {
	max-width: 200px;
}

#container {
	width: 80%;
	margin-left: 10%;
	background: #fff;
	padding: 5px 0 20px;
}

#header {
	padding: 0 0 5px;
	text-align: right;
	margin-right: 10px;
}

#main {
	min-height: 700px;
	padding: 0 20px 20px;
}

.home {
	padding-left: 20px;
}

#footer {
	font-size: 0.9em;
	border-top: 1px solid #f7f7f7;
	padding: 15px 20px 10px;
	min-height: 100px;
}


/* Section Headers */

h1, h2, h3, h4 {
	color: #291667;
	padding: 7px 0 10px;
	text-transform: uppercase;
}

#main h1 {
	font-size: 2em;
}

#main h2 {
	font-size: 1.5em;
	margin-top: 30px;
}

#main h3 {
	font-size: 1.3em;
	margin-top: 15px;
}

#main h4 {
	font-size: 1.2em;
}

/* Code */

p.codeblock {
	padding: 5px 0px 5px 15px;
}

p {
	margin-bottom: 10px;
}

p.home {
	margin-top: 30px;
}

/* Table */

table {
	width: 80%;
}

th, th td {
	background-color: #333;
	color: #fff;
}

/* Mobile */

@media all and (max-width : 768px) {
	#container {
		width: 95%;
		margin-left: 2.5%;
		background: #fff;
	}
	table {
		width: 95%;
	}
	#main h1 {
		font-size: 1.5em;
	}
	#main h2 {
		font-size: 1.3em;
		margin-top: 10px;
	}
	#main h3 {
		font-size: 1.1em;
		margin-top: 10px;
	}
	#main h4 {
		font-size: 1em;
	}

  .thin {
    width: 90%;
    margin-left: 5%;
  }

}

@media all and (max-width : 450px) {
	#container {
		width: 100%;
		background: #fff;
		margin-left: 0;
	}
	table {
		width: 95%;
	}
}
